@import "_reset.scss";

$primary-color: #007acc;
$secondary-color: #f2f2f2;
$font-family: "Source Sans Pro", sans-serif;
$width: 300px;
$font-size: 15px;
$font-weight: 500;
$height: max-height;

%image {
  width: 17px;
  height: 17px;
  margin-right: 9px;
}
@mixin text {
  margin-right: 45px;
  font-weight: ($font-weight)+100;
  font-family: $font-family;
}
@mixin profile {
  @extend %image;
  width: 30px;
  height: 30px;
  padding: 10px 0px 10px 10px;
}
@mixin timeline {
  margin-top: 10px;
  > div {
    display: flex;
    width: fit-content;
    > img {
      visibility: hidden;
    }
    &:hover > img {
      visibility: visible;
    }
  }
  p {
    margin: 1px 5px;
    max-width: 50%;
    font-size: $font-size;
    background: $secondary-color;
    font-family: $font-family;
    padding: 10px;
    border-radius: 20px;
    margin-left: 50px;
    &::after {
      content: "";
      background: url("share.svg");
    }
  }
  .prof {
    float: left;
    @include profile();
    padding-top: 0px;
    margin-top: 5px;
  }
  img {
    @extend %image;
    margin: 15px 5px;
  }
}
#chatbox {
  position: relative;
  width: 100%;
  height: 100%;

  #container {
    position: absolute;
    right: 16%;
    bottom: 0;
    width: $width;
    height: 371px;

    img {
      @extend %image;
    }

    #header {
      position: fixed;
      height: 50px;
      z-index: 100;
      background: white;
      border-radius: 20px 20px 0 0;
      width: $width;
      border: 2px $secondary-color solid;

      #imageHover {
        display: inline;
        &:hover {
          .settings {
            display: block !important;
          }
        }
      }
      .settings {
        display: none;
        background: white;
        position: absolute;
        width: 240px;
        font-family: $font-family;
        font-weight: ($font-weight);
        max-height: 290px;
        z-index: 1000;
        left: ($width)-15px;
        > div {
          border: 1px $secondary-color solid;
          padding: 8px 10px;
          > p {
            padding: 4px;
            > i {
              margin: 2px 8px;
              opacity: 0.4;
            }
          }
        }
      }

      div {
        #profile {
          @include profile();
        }
        span {
          @include text();
        }
      }
      .cross {
        width: 12px;
        height: 12px;
      }
    }

    #body {
      margin-top: 40px;
      height: 245px;
      width: $width;
      border: 2px $secondary-color solid;
      overflow-y: scroll;
      background: white;

      .image {
        width: 100%;
        position: relative;
        .emoj {
          position: absolute;
          width: fit-content;
          background: white;
          bottom: -10;
          padding: 2px 5px;
          box-shadow: 0 2px 5px gray;
          right: 75;
          border-radius: 20px;
          > img {
            margin-right: 0px;
          }
          #plus {
            top: -10;
            width: 8px;
            height: 8px;
          }
        }
        .emoji {
          position: absolute;
          left: 10;
          bottom: 13;
          width: fit-content;
          background: #fffaf0;
          border-radius: 20px;
          visibility: hidden;

          > a {
            > img {
              width: 25px;
              height: 25px;
              margin: 5px;
            }
          }
        }
        .emoj:hover + .emoji {
          visibility: visible;
        }
        > div > img {
          @include profile();
          margin: 0 5px;
          padding: 0;
          width: 20px;
          height: 20px;
          opacity: 0;
        }
        #log {
          @include profile();
          margin: 15px 5px;
          opacity: 1;
        }
        .pic {
          width: 150px;
          height: 150px;
          border-radius: 20px;
          opacity: 1;
        }
        div:hover > img {
          opacity: 0.8;
        }
      }
      .friend {
        @include timeline();

        .info {
          display: none;
          z-index: 200;
          width: 400px;
          background: white;
          border: 1px darken($color: $secondary-color, $amount: 10%) solid;
          position: absolute;
          height: 140px;
          bottom: 220;
          overflow: hidden;
          > h1 {
            font-family: $font-family;
            font-size: ($font-size)+4;
            font-weight: ($font-weight)+300;
            color: $primary-color;
            margin-top: 20px;
          }
          > img {
            visibility: visible;
            float: left;
            width: 120px;
            height: 120px;
            margin: 10px;
            padding: 0;
          }
          > p {
            background: white;
            margin: 1px 5px;
            max-width: 90%;
            font-size: $font-size;
            font-family: $font-family;
            padding: 10px;
            border-radius: 20px;
            > span {
              color: darken($color: $primary-color, $amount: 20%);
            }
            > i {
              opacity: 0.7;
              padding: 1px 5px;
              height: 15px;
              float: left;
            }
          }
        }
        .prof:hover + .info {
          display: block;
        }
      }
      .user {
        @include timeline();
        div {
          margin-left: auto;
        }
        p {
          margin-left: 10px;
          margin-right: 10px;
          background: $primary-color;
          color: white;
        }
      }
      .time {
        width: fit-content;
        margin: 20px auto;
        font-family: $font-family;
        color: grey;
        font-weight: ($font-weight)+300;
        font-size: ($font-size)-3px;
      }
      .seen {
        p {
          width: fit-content;
          margin: 5px 25px 5px auto;
          font-family: $font-family;
          color: grey;
          font-weight: ($font-weight)+300;
          font-size: ($font-size)-1px;
        }
      }
    }

    #footer {
      height: 80px;
      background: white;
      width: $width;
      border: 2px $secondary-color solid;

      textarea {
        outline: none;
        font-family: $font-family;
        color: grey;
        padding-left: 10px;
        line-break: strict;
        width: width;
        resize: none;
      }
      #message {
        max-height: 30px;
        overflow: auto;
        border: none;
      }
      #inner {
        margin-left: 10px;
        opacity: 0.7;
        padding-top: 0px;
        > img:hover {
          filter: hue-rotate(100%);
        }
      }
      p {
        @include text();
        font-weight: $font-weight;
        padding: 8px 10px 0 5px;
        color: grey;
      }
      #like {
        margin: 0px 2px 5px 20px;
      }
    }
  }
}
